@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Color variants made using Realtime Colors:
 * https://www.realtimecolors.com/?colors=090a06-eef6f4-996024-b79f1a-134932&fonts=Poppins-Poppins
 */
 :root {
  --text: #090a06;
  --text-1: #1d2013;
  --text-2: #394026;
  --text-3: #566039;
  
  --background: #eef6f4;
  --background-1: #deede9;
  --background-2: #bcdcd4;
  --background-3: #9bcabe;
  
  --primary: #996024;
  --primary-1: #cf8230;
  --primary-2: #d89b5a;
  --primary-3: #e2b483;
  
  --secondary: #b79f1a;
  --secondary-1: #dfc220;
  --secondary-2: #e6cf4c;
  --secondary-3: #ecdb79;
  
  --accent: #134932;
  --accent-1: #1f7a53;
  --accent-2: #2aa26e;
  --accent-3: #34cb8a;
}
@media (prefers-color-scheme: dark) {
:root {
  --text: #f8f9f5;
  --text-800: #d2d9bf;
  --text-700: #bcc69f;
  --text-600: #a6b380;
  
  --background: #09110f;
  --background-1: #12211d;
  --background-2: #23433b;
  --background-3: #356458;
  
  --primary: #dba366;
  --primary-1: #d89b5a;
  --primary-2: #e2b483;
  --primary-3: #eccdac;
  
  --secondary: #e5cd48;
  --secondary-1: #dfc220;
  --secondary-2: #e6cf4c;
  --secondary-3: #ecdb79;
  
  --accent: #b6ecd5;
  --accent-1: #aeead0;
  --accent-2: #d6f5e8;
  --accent-3: #ebfaf3;
}
}

/* Only style custom scrollbar for desktop */
@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--text-800);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-200);
  }
}

body {
  @apply text-text bg-background;
}
