@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --text: #1a0309;
  --background: #fef9fb;
  --primary: #931E1E;
  --secondary: #ed5656;
  --accent: #41c15a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fce4ea;
    --background: #040102;
    --primary: #e16b6b;
    --secondary: #ab1212;
    --accent: #3dbd57;
  }
}

body {
  color: var(--text);
  background: var(--background);
}
